.wpbooklist-buyback-settings-row-actual-inner-row-top p, .wpbooklist-buyback-settings-row-actual-inner-row-bottom p{
    display:inline-block;
    margin-bottom:0px;
}

.wpbooklist-buyback-settings-row-actual-inner-row-top p{
    margin-top:0px;
}

.wpbooklist-buyback-settings-row-actual-inner-row input{
    width:80px;
    margin-right:5px;
}

.wpbooklist-buyback-settings-row-actual-inner-row-bottom p{
    margin-right: 10px;
}

.wpbooklist-buyback-settings-row-actual-inner-row-top-p1{
    margin-right: 10px;
}

.wpbooklist-buyback-settings-row-actual{
    margin: 10px;
    border: solid 1px black;
    padding: 8px;
}

#wpbooklist-buyback-settings-add-delete-div, #wpbooklist-buyback-settings-save-div{
    margin:20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align:center;
}

#wpbooklist-buyback-settings-add-delete-div button{
    width:150px;
    margin:10px;
}

#wpbooklist-buyback-settings-save-div button{
    width:200px;
}

.wpbooklist-buyback-cart-img-actual{
    width:50px;
    height:76px;
}

.wpbooklist-buyback-cart-div-row div{
    display:inline-block;
    vertical-align:top;
}

.wpbooklist-buyback-cart-title-actual{
    height: 55px;
    margin: 0 auto;
    margin-bottom: 0px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    width: 300px;
    text-align: left;
    color: black;
    margin-top: 0;
}

.wpbooklist-buyback-cart-title-isbn-actual, .wpbooklist-buyback-cart-value-remove-text-actual{
    font-size:13px;
}

.wpbooklist-buyback-cart-title-div .wpbooklist-buyback-cart-title-isbn-actual{
    display:block;
}

.wpbooklist-buyback-cart-value-remove-img-actual{
    width: 12px;
    position: relative;
    top: 1px;
}

.wpbooklist-buyback-cart-value-div .wpbooklist-buyback-cart-value-remove-div{
    height:24px;
    cursor:pointer;
    display:block;
}

.wpbooklist-buyback-cart-div{
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.wpbooklist-buyback-cart-div-row{
    margin-bottom: 8px;
    border: solid 1px #F4F2F3;
    margin-top: 8px;
    padding: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    display: inline-block;
}

.wpbooklist-buyback-cart-div-row p{
    margin:0px;
}

.wpbooklist-buyback-settings-set-order-status-div{
    text-align: center;
}

.wpbooklist-buyback-settings-set-order-status-div p{
    margin:0px;
}

.wpbooklist-buyback-settings-order-controls-div{
    display:inline-block;
}

.wpbooklist-buyback-settings-order-contact-div, .wpbooklist-buyback-settings-order-controls-div{
    margin-top:10px;
}

.wpbooklist-buyback-settings-order-contact-div{
    display:inline-block;
    vertical-align: top;
}

.wpbooklist-buyback-settings-order-contact-div p{
    margin:0;
}

.wpbooklist-buyback-settings-row-actual-inner-row-from-to input{
    width:130px;
}